@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url('../images/background images/homebackground.jpg'); background-size: 95%;">
    <div class="row">
<div class="col-4">

</div>
<div class="col-8" >
<div class="text-center " style="padding-top:120px ; padding-left:90px">
                <h1 class="display-4" style="color:midnightblue">Welcome To Vehicle Renting System</h1>
    
</div>
   
</div>
</div>

</body>
