@using VehicleRentingSystem.Utility;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VehicleRentingSystemWeb</title>
    <link rel="stylesheet" href="~/css/BootswatchTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/VehicleRentingSystemWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg " id="nav" style="background: linear-gradient(to right, #0f0c29, #302b63, #24243e); z-index:9999">
  <div class="container-fluid">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="~/" style="color:azure">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item" >
                            <a class="nav-link " asp-area="User" asp-controller="Profile" asp-action="Index" style="color:azure">Profile</a>
        </li>
       
        <li class="nav-item">
                            <a class="nav-link " style="color:azure" asp-area="User" asp-controller="Post_Car" asp-action="Index">Car</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " style="color:azure" asp-area="Truck" asp-controller="Post_Truck" asp-action="Index">Truck</a>
        </li>
        @if(User.IsInRole(SD.Role_Admin))
        {
            <li class="nav-item">
                <a class="nav-link " style="color:azure" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color:azure" asp-area="User" asp-controller="Profile" asp-action="Index">Profile</a>
            </li>
        }
       @* @if(User.IsInRole(SD.Role_Admin))
        {
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:azure">Admin</a>
              <div class="dropdown-menu">
              <a class="nav-link " asp-area="User" asp-controller="City" asp-action="Index">City</a>
              <a class="nav-link " asp-area="User" asp-controller="Post_Car" asp-action="Index">PostCar</a>
              <a class="nav-link " asp-area="User" asp-controller="Profile" asp-action="Index">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
        }*@
      </ul>
      <partial name="_LoginPartial" />
         @* <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>*@
    </div>
  </div>
</nav>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<footer class=" border-top" style="
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   margin-top:200px;
">
    <div class="container">
        &copy; 2022 - VehicleRentingSystem developed by C181044 and C181072 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

@*<script type="text/javascript">
    var nav=document.getElementById('nav')
    window.onscroll=function(){
        if(window.pageYOffset>100)
        {
            nav.style.position="fixed";
            nav.style.top=0;
        }
        else{
            nav.style.position="absolute";
            nav.style.top=100;
        }
        
    }
</script>*@
