@model VehicleRentingSystem.Models.TruckBid 
<body style="background-image: url('../../../images/background images/auction.jpg');background-size: 90%;">
    <form method="post" style="margin-top: 11%">
        <input hidden asp-for="TruckPostId" />


        <div class=" mt-5 bg-light text-dark d-flex justify-content-center align-items-center border border-2 border-info rounded" style="background: linear-gradient(to right, #83a4d4, #b6fbff);">




           @* @if (User.IsInRole("Driver"))
            {*@
                <div class=" row p-3  " role="group" style="background: linear-gradient(to right, #83a4d4, #b6fbff);">
                    <div class="col-2 rounded-circle ">
                        <a asp-controller="Post_Truck" asp-action="Plus" asp-route-truckpostId="@Model.TruckPostId" class="btn btn-success rounded-circle">
                            <i class="bi bi-plus fs-4 fw-bold" style="color:azure">+</i>
                        </a> &nbsp;
                    </div>

                    <div class=" col-8 row pl-2">
                        <div class="col-6 text-primary"><h4>Count</h4></div>
                        <div class=" col-6 "><input asp-for="Bidding" class="form-control" /></div>
                    </div>
                    <div class="col-2 ">
                        <a asp-controller="Post_Truck" asp-action="Minus" asp-route-truckpostId="@Model.TruckPostId" class="btn btn-info rounded-circle">
                            <i class="bi bi-dash  fs-4 fw-bold">-</i>
                        </a>
                    </div>

                </div>
           @* }*@

            <div class=" ps-lg-2  m-2 d-flex  border border-2 border-info rounded " style="background: linear-gradient(to right, #83a4d4, #b6fbff);">
                <div class="row  align-items-center ">
                    <div class="col-6 pe-5 " style="color:white"><h4>Lowest Bid</h4></div>
                    <div class=" col-6 pe-5  " style="color:#0007C4"><p><h2>@Model.MinBid</h2></p></div>
                </div>
            </div>

        </div>


        <div class="card-footer">
            <div class="row p-5">
                <div class="col-12 col-md-4 pb-1">
                    <a class="btn btn-success form-control  btn-square btn-lg" style="height:50px;  background: linear-gradient(to right, #136a8a, #267871);" asp-action="Index">Back to Feed</a>
                </div>
                @if (User.IsInRole("Driver"))
                {
                    <div class="col-12 col-md-4 pb-1">

                        <button type="submit" value="Add to Cart" class=" btn-square btn-lg form-control" style="height:50px; color:white ; background: linear-gradient(to right, #0f2027, #203a43, #2c5364);">Add</button>

                    </div>
                }
                <div class="col-12 col-md-4 pb-1">
                    <a asp-area="Truck" asp-controller="Post_Truck" asp-action="BiddingHistory" asp-route-truckpostId="@Model.TruckPostId" class="btn form-control  btn-square btn-lg" style="height:50px; color:white;  background: linear-gradient(to right, #000046, #1cb5e0);">Bidding history</a>
                </div>
            </div>
        </div>




    </form>
</body>

