@model VehicleRentingSystem.Models.Post_Truck
<div class="row">
	<div class="col-5">
		<form method="post" asp-action="Create" enctype="multipart/form-data">


			<div class="row">
				<div class="col-10">
					<div class="border p-3 mt-4 row">
						<div class="col-12 pb-2">

							<hr />
						</div>
						@*<div asp-validation-summary="All"></div>*@
						<div class="mb-3">
							<label style="color:indigo" asp-for="PickUpLocation"></label>
							<input asp-for="PickUpLocation" class="form-control" />
							<span asp-validation-for="PickUpLocation" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label style="color:indigo" asp-for="DropOutLoaction"></label>
							<textarea asp-for="DropOutLoaction" class="form-control"></textarea>
							<span asp-validation-for="DropOutLoaction" class="text-danger"></span>
						</div>
						<div class="mb-3 col-6">
							<label style="color:indigo" asp-for="ProductName"></label>
							<input asp-for="ProductName" class="form-control" />
							<span asp-validation-for="ProductName" class="text-danger"></span>
						</div>
						<div class="mb-3 col-6">
							<label style="color:indigo" asp-for="PickUpDate"></label>
							<input asp-for="PickUpDate" class="form-control" />
							<span asp-validation-for="PickUpDate" class="text-danger"></span>
						</div>
						<div class="mb-3 col-6">
							<label style="color:indigo" asp-for="ImageUrl">Product Image</label>
							<input type="file" name="file" class="form-control" />
							
						</div>
						<div class="mb-3">
							<label style="color:indigo" asp-for="Product_Des"></label>
							<textarea asp-for="Product_Des" class="form-control"></textarea>
							<span asp-validation-for="Product_Des" class="text-danger"></span>
						</div>




						<button type="submit" class="btn btn-primary" style="width:150px">Create</button>

						<a asp-controller="Post_Truck" asp-action="Index" class="btn btn-secondary" style="width:150px">
							Back to Feed
						</a>
					</div>
				</div>
			</div>




		</form>
	</div>
	<div class="col-7 p-5" style="background-image: url('../../../images/background images/truckpost.jpg');background-size: 100%; background-repeat:no-repeat; background-position:center">
	</div>

</div>

@*server side validation*@

@section scripts{
	@{
		<partial name="_ValidationScriptsPartial" />

	}


}