
@model City

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create City</h2>
            <hr />
        </div>
		<div asp-validation-summary="All"></div>
        <div class="mb-3">
			<label asp-for="CityName"></label>
			<input asp-for="CityName" class="form-control" />
			<span asp-validation-for="CityName" class="text-danger"></span>
		</div>
		
		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="City" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
    </div>
</form>

@*client side validation*@

@section scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}