@model Bid


<form method="post">
    <input hidden asp-for="PostId" />
    <div class="card container pt-4">

        
                        <div class="row pl-2">
                            <div class="col-2 text-primary"><h4>Count</h4></div>
                            <div class="col-10"><input asp-for="Bidding" class="form-control" /></div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-6 pb-1">
                    <a class="btn btn-success form-control  btn-square btn-lg" style="height:50px;" asp-action="Index">Back to Home</a>
                </div>
                <div class="col-12 col-md-6 pb-1">

                    <button type="submit" value="Add to Cart" class="btn btn-primary btn-square btn-lg form-control" style="height:50px;">Add to Cart</button>

                </div>
            </div>
        </div>

    </div>
</form>
