@model Post_Car
<div class="row">
	<div class="col-7">
<form method="post" asp-action="Create" enctype="multipart/form-data">
	
	
	<div class="row" >
		<div class="col-10">
			<div class="border rounded-3 p-3 mt-4 row" style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
				<div class="col-12 pb-2" >
					
					<hr />
				</div>
				@*<div asp-validation-summary="All"></div>*@
				<div class="mb-3">
					<label style="color:indigo" asp-for="PickUpLocation"></label>
					<input asp-for="PickUpLocation" class="form-control" style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);" />
					<span asp-validation-for="PickUpLocation" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label style="color:indigo" asp-for="DropOutLoaction"></label>
					<textarea asp-for="DropOutLoaction" class="form-control" style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);"></textarea>
					<span asp-validation-for="DropOutLoaction" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label style="color:indigo" asp-for="NumberOfPassenger"></label>
					<input asp-for="NumberOfPassenger" class="form-control" style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);" />
					<span asp-validation-for="NumberOfPassenger" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label style="color:indigo" asp-for="PickUpDate"></label>
							<input type="datetime-local" asp-for="PickUpDate" class="form-control" style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);" />
					<span asp-validation-for="PickUpDate" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label style="color:indigo" asp-for="Description"></label>
					<textarea asp-for="Description" class="form-control" style=" box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);"></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
						
				
				
				
					
			<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
					
				<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
					Back to List
				</a>
				</div>
			</div>
		</div>
		
	

    
</form>
</div>
	<div class="col-5 p-5" style="background-image: url('../../../images/background images/loginbackground.jpg');background-size: 100%; background-repeat:no-repeat; background-position:center">

</div>

</div>

@*server side validation*@

@section scripts{
	@{
		<partial name="_ValidationScriptsPartial" />

	}
		
	
}